table
{
    border-collapse:collapse;
}

table, td, th
{
    border:1px solid black;
}

.a {
    background-color: blue;
}
.b {
    font-size: 35px;
}
.c {
    color: #fff;
}

.d {
    background-color: red;
}

